.search-bar{
    height: 42px;
    width: 1000px;
    margin: 20px auto 10px auto;
    background-color: white;
}
.search-bar div:first-child,.search-bar div:last-child{
    width: 50%;
    float: left;
}
.search-bar div:first-child{
    line-height: 42px;
}
.search-bar div:first-child img{
    float: left;
    margin: 2px;
}
.search-bar div:last-child span{
    float: right;
    margin: 8px;
}
.search-bar div:last-child span input{
    height: 26px;
    width: 261px;
    background: white url("img/search.png") top right no-repeat;
}